@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 93% 100%;
    --foreground: 222 47% 11%;
    --card: 0 50% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 50% 90%;
    --secondary-foreground: 197 76% 30%;
    --muted: 197 50% 90%;
    --muted-foreground: 222 47% 44%;
    --accent: 291 64% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 19 0% 80%;
    --input: 197 30% 88%;
    --ring: 197 76% 53%;
    --radius: 0.5rem;
    --grey-background: 0 0% 90%;
    --sidebar-active: 0 10% 10%;
    --sidebar-text: 0 100% 100%;
  }
  .dark {
    --background: 222 0% 0%;
    --foreground: 210 40% 98%;
    --card: 222 47% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 291 64% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 197 76% 53%;
    --grey-background: 217 33% 17%;
    --sidebar-active: 0 0% 85%;

    --sidebar-text: 210 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.scrollbar-slim::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}
.scrollbar-slim::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
  width: 4px;
}
.scrollbar-slim::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 8px;
  width: 4px;
}
.scrollbar-slim::-webkit-scrollbar-thumb:hover {
  background: #333333;
  cursor: pointer;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
