@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 93% 100%;
    --foreground: 222 47% 11%;
    --card: 0 50% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 197 50% 90%;
    --secondary-foreground: 197 76% 30%;
    --muted: 197 50% 90%;
    --muted-foreground: 222 47% 44%;
    --accent: 291 64% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 19 0% 80%;
    --input: 197 30% 88%;
    --ring: 197 76% 53%;
    --radius: 0.5rem;
    --grey-background: 0 0% 90%;
    --sidebar-active: 0 10% 10%;
    --sidebar-text: 0 100% 100%;
    --btn-border: 0 0% 40%;

  }
  .dark {
    --background: 222 0% 0%;
    --foreground: 210 40% 98%;
    --card: 222 47% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 0% 80%;
    --accent: 291 64% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 197 76% 53%;
    --grey-background: 217 33% 17%;
    --sidebar-active: 0 0% 85%;
    --btn-border: 0 0% 30%;

    --sidebar-text: 210 0% 0%;
  }
}
.prose {
  @apply text-foreground max-w-none;
  h1 {
    @apply md:text-4xl text-3xl md:font-bold tracking-tight  mt-12 mb-4 text-foreground;
  }
  h2 {
    @apply md:text-3xl text-2xl  font-semibold mt-12 mb-4 text-foreground;
  }
  h3 {
    @apply md:text-2xl text-xl font-semibold mt-8 mb-4 text-foreground;
  }
  h4 {
    @apply md:text-xl text-lg font-semibold mt-6 mb-3 text-foreground;
  }
  h5 {
    @apply md:text-lg text-base font-semibold mt-4 mb-2 text-foreground;
  }
  h6 {
    @apply font-semibold mt-4 mb-2 text-foreground;
  }
  p,
  ul,
  ol {
    @apply mb-4 text-muted-foreground;
  }
  a {
    @apply text-primary hover:underline break-words;
  }
  code {
    @apply bg-muted text-muted-foreground rounded-md px-1.5 py-1 text-sm whitespace-pre-wrap break-words;
  }
  pre {
    @apply bg-muted p-4 rounded-md overflow-x-auto text-muted-foreground whitespace-pre-wrap break-words;
  }
  ul {
    @apply list-disc pl-5;
  }
  ol {
    @apply list-decimal pl-5;
  }
  strong {
    @apply font-semibold text-foreground;
  }
  table {
    @apply w-full border-collapse border border-border my-6 text-base;
  }
  thead {
    @apply bg-muted;
  }
  th {
    @apply px-4 py-2 text-left font-semibold border-b border-border text-foreground;
  }
  td {
    @apply px-4 py-2 border-b border-border text-muted-foreground;
  }
  tr:last-child td {
    @apply border-b-0;
  }
  ol > li::marker {
    @apply text-lg font-bold text-foreground;
  }
  ul > li::marker {
    @apply text-lg font-bold text-foreground;
  }
  img {
    @apply rounded-md;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer base {
  .ProseMirror .column-resize-handle {
    @apply cursor-col-resize bg-gray-400/30 absolute right-0 top-0 bottom-0 w-[2px];
  }
}


/* Scrollbar */
.scrollbar-slim::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}
.scrollbar-slim::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
  width: 4px;
}
.scrollbar-slim::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 8px;
  width: 4px;
}
.scrollbar-slim::-webkit-scrollbar-thumb:hover {
  background: #333333;
  cursor: pointer;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.ProseMirror.resize-cursor {
  cursor: col-resize;
}

.tableWrapper {
  max-width: 100% !important;
  width: 100% !important;
  overflow-x: auto !important;
  overflow-y: visible !important;
  display: block !important;
  margin: 0px !important;
}

.tableWrapper table {
  display: table !important;
  width: 100% !important;
  min-width: 100% !important;
  table-layout: auto !important;
  margin: 0px 0px 1.5rem 0px !important;
}

.ProseMirror {
  overflow-x: hidden !important;
  max-width: 100% !important;
}
.ProseMirror ol {
  list-style-position: outside; /* keeps numbers fully visible */
              /* optional – adjust for alignment */
}
.ProseMirror ol {
  list-style-position: outside;
  padding-left: 2.5rem;
}
